body{
	background-color: #F7F7F7;
	margin: 0px;
  	padding: 0px;
  	width: 77%;
	font-family: roboto, sans-serif;

}

#lab {
	width: 300px;
	background-color: #333333;
  	border-right-color: #333333;
  	border-right-style: solid;
  	border-right-width: 1px;
  	display: flex;
  	flex-direction: column;
  	height: 800px;
  	position: fixed;
  	z-index: 1;
}

#labimg {
	width: 100%;
	height: auto;
	background-color: whitesmoke;
	display: block;
}

#lab img {
	width: 150px;
	height: auto;
	margin-left: 75px;
}

hr {
	width: 100%;
	height: auto;
	margin: 0;
	background-color: #333333;
}

#identify {
	background-color: lightgray;
  	display: flex;
  	padding: 22px 16px;
}

#avatar {
	width: 40px;
	height: 40px;
	align-items: center;
  	background-color: #e1e1e1;
  	border-radius: 100%;
  	display: flex;
  	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  	font-size: 20px;  
  	justify-content: center;
 }

#data {
  	padding: 0px 16px;
	  color: black;
 }

.section{
	margin-left: 300px;
	margin-bottom: 30px;
}

.section.two {
	width: 101%;
	height: 0;
}

.menu-container {
	margin-left: -10px;
}
.menu-container ul {
	margin: 0;
	margin-left: 80px;
}

.menu-container ul li {
	list-style: none;
	display: inline-block;
	font-size: 25px;
	margin-top: 0;
	margin-bottom: 0px;
	display: block;
	padding: 0;	
}

.menu-container ul li a {
	font-size: 15px;
	border: none;
}

#scl {
	padding: 13px 0;
	font-size: 10px;
  text-decoration: none;
	color: white;
	margin-left: -50px;
	margin: 0 5px;
	display: inline-block;
}

#scl h1 {
	border-bottom: 2px solid orange;
	display: inline-block;
	color: white;
	font-size: 13px;
}

#scl ul li a {
	font-size: 15px;
	border: none;
	color: white;
	display: block;
	padding: 2px 0;
	border-bottom: 2px solid #333333;
	display: inline-block;
}

#scl ul li a:hover {
	border-bottom: 2px solid orange;
	display: inline-block;
}

#san {
	color: orange;
	font-weight: bold;
}

.options{
	width: 100%;
	height: auto;
	padding: 10px 0;
	text-align: center;
	border-bottom: 1px solid orange;
}

.options a{
	display: inline;
	text-decoration: none;
  	color: white;
	font-weight: bold;
}

.options.b {
	background-color: orange;
}

.options.b a {
	color: black;
}

.options:first-child {
	background-color: orange;
}

.options:hover {
	border-bottom: 2px solid orange;
	background-color: orange;

}

.options a:hover {
	color: black;
}

.clearfix:after {
	content: "";
	display: table;
}

.clearfix {
	background-color: #333333;
}

.clearfix h3 {
	color: orange;
	margin-left: -50px;
}

.menu-nav {
	margin-left: 10px;
}

.sub-menu {
	width: 100px;
	height: auto;
	position: absolute;
	display: none;
	background: #333333;
}

.sub-menu h1 {
	margin-left: -70px;
	font-size: 18px;
}

.sub-menu li a {
	margin-left: -50px;
	color: #000;
	text-decoration: none;
	border: none;
	padding: 0;
}

.sub-menu.latest {
	width: 250px;
}

.menu-nav ul li:hover>ul {
	display: block;
	border: none;
}

.menu-nav>ul>li:after { 
	font-size: 20px;
	padding-left: 5px; 
	display: inline;
	position: relative;	
}

.section.three {
	width: 100%;
	height: 380px;
}

.box {
	width: 300px;
	height: 300px;
	background-color: white;
	margin-top: 50px;
	margin-left: 30px;
	float: left;	
}

.box h3 {
	margin-left: 30px;
}

.minibox {
	width: 100px;
	height: 70px;	
	background-color: #333333;
	text-align: center;
	margin-left: 30px;
  	float: left;
}

.minibox p {
	font-size: 12px;
	margin: 0;
	color: white;
}

.minibox h4 {
	font-size: 20px;
	margin: 0;
	color: orange;
}

.minibox li:first-child{
	margin-top: -5px;
}

.minibox li {
	font-size: 12px;
	text-align: left;
	margin-left: -35px;
	color: white;
	list-style: none;
}

.minibox.last {
	width: 200px;
	margin-left: 45px;
}

.minibox.last h4{
	padding: 5px 0;
}

.boxie {
	width: 400px;
	height: 120px;	
	background-color: #333333;
	text-align: center;
	padding: 10px;
	margin-left: 30px;
	margin-top: 10px;
	float: left;
}

.boxie p {
	font-size: 25px;
	margin: 0;
	color: white;
}

.boxie h4 {
	font-size: 50px;
	margin: 0;
	color: orange;
}

.rect img{
	width: 400px;
	height: auto;
	margin: 40px;
	float: left;
}

.circle img{
	width: 200px;
	height: auto;
	margin: 100px;
}

#graphic {
	width: 80%;
	margin-top: 10px;
	margin-left: 30px;
}

.section.four{
	width: 90%;
	height: 480px;
	background-color: white;
	margin-left: 350px;
}

.section.five {
	width: 90%;
	height: 480px;
	background-color: white;
	margin-left: 350px;
}

.section.six {
	width: 100%;
	height: 380px;
}

/*menu overall*/

#overall h1 {
	border-bottom: 2px solid orange;
	display: inline-block;
	color: white;
	font-size: 13px;
}

#overall {
	font-size: 10px;
  text-decoration: none;
	color: white;
	border-bottom: 1px solid orange;
	margin-left: -50px;
	margin: 0 5px;
	display: inline-block;
}

#overall ul li a {
	font-size: 15px;
	border: none;
	color: white;
	display: block;
	font-weight: bold;
	padding: 2px 0;
	border-bottom: 2px solid #333333;
	display: inline-block;
}

#overall ul li a:hover {
	border-bottom: 2px solid orange;
	display: inline-block;
}

.menu-nav h3{
	display: inline-block;
}

/*duplicado*/

.barra h1 {
	border-bottom: 2px solid orange;
	display: inline-block;
}

.barra a {
	font-size: 15px;
  	text-decoration: none;
	color: white;
}

.barra ul {
	margin: 0;
	padding-left: 80px;
}

.barra ul li {
	list-style: none;
	display: inline-block;
	font-size: 25px;
	margin-top 0;
	margin-bottom: 0px;
	display: block;
	padding: 0;	
}

.barra ul li a {
	font-size: 15px;
	border: none;
}

.clear:after {
	content: "";
	display: table;
}

.clear {
	background-color: #333333;
}

.menu {
  	position: relative;
	margin-left: -70px;
}

.sub-men {
	width: 100px;
	height: auto;
	position: absolute;
	display: none;
	background: #333333;
}

.sub-men h1 {
	margin-left: -70px;
	font-size: 16px;
	color: white;
}

.sub-men li a {
	margin-left: -50px;
	color: #fff;
	text-decoration: none;
	border: none;
	font-weight: bold;
}

.sub-men li a:hover {
	border-bottom: 2px solid orange;
}

.sub-men li input {
	margin-left: -20px;
}


.menu ul li:hover>ul {
	display: block;
	border: none;
}

.menu>ul>li:after { 
	font-size: 20px;
	padding-left: 5px; 
	display: inline;
	position: relative;	
}

/*Alumnas HTML*/

.perfiles{

	background-color: #F7F7F7;

	width: 100%;

    height: 1000px;

    padding-top: 40px;

    font-family: 'Roboto', sans-serif;

    margin-left: 300px



}



.buscador{

	width: 530px;

	height: 40px;

	border: 1px solid orange;

	background-color: #333333;

	font-size: orange;

	margin-left: 400px;

	float: left;

	

}



#buscar{

	width: 340px;

	border: transparent;

	background-color: #333333;

	color:orange;

}



.fa-search{

	color: orange;

    padding-top: 15px;

    padding-bottom: 15px;

    padding-left: 10px;

}



.selecciones{	

	height: 200px;

    margin-left: 401px;

    margin-top: -600px;



}



.barra_datos{

    background-color: #333333;

    height: 590px;

    width: 300px;

    margin-left: 80px;

    margin-top: 0px;

    color:orange;  

    border: 1px solid orange;

}





.foto_perfil{

	width: 190px;

	height: 190px;

	margin-left: auto;

	margin-right: auto;

	margin-top: 19px;

	margin-bottom: 5px;

	background-image: url(../assets/images/foto de perfil.jpg);



}



img{

    margin-left: auto;

    margin-right: 30px;

    padding-left: 25px;

    width: 150px;

}



hr{

	width: 80%;

    height: 1px;

    border-color: orange;

    background-color: orange;

    margin-left: auto;

    margin-right: auto;

    margin-bottom: 0px;

}



.nombre{

	width: 250px;

	height: 40px;

	margin-left: auto;

	margin-right: auto;

	margin-top:60px;

	border: 1px solid orange;

}



.fa-user{

	margin-top: 15px;

    margin-left: 10px;

    height: 24px;

    padding-top: 0px;

    width: 40px;

    color:orange;

}



.telefono{

	width: 250px;

	height: 40px;

	margin-left: auto;

	margin-right: auto;

	margin-top: 30px;

	border: 1px solid orange;



}

.fa-mobile{

    margin-top: 15px;

    margin-left: 10px;

    height: 24px;

    padding-top: 0px;

    width: 40px;

}



.mail{

	width: 250px;

	height: 40px;

	margin-left: auto;

	margin-right: auto;

	margin-top: 30px;

	border: 1px solid orange;

}

.fa-envelope-o{

    margin-top: 15px;

    margin-left: 10px;

    height: 24px;

    padding-top: 0px;

    width: 40px;

}



/* RESUMEN TECNICO Y SOCIAL*/

.resumen{

	width: 530px;

	height: 147px;

	background-color: #333333;

	border:1px solid orange;

	margin-top: 10px;

	float: left;

}



.resumen_tecnico{

	background-color: orange;

	width: 150px;

	height: 60px;

	float:left;

	text-align: center;

	margin-left: 80px;

}



#titulo_tecnico{

	width: 150px;

	height: 30px;

	margin-top: 0px;

	color: #333333;

	text-align: center;

}



.resumen_social{

	background-color: orange;

	width: 150px;

	height: 60px;

	float:left;

	margin-left: 50px;

}



#titulo_social{

	width: 150px;

	height: 30px;

	margin-top: 0px;

	color: #333333;

	text-align: center;

}



h4{

    margin-left: 5px;

    margin-top: 10px;

    color: orange;

    text-align: center;



}



/*MENU DE NAVEGACION CUADRO DE PROGRESO*/



#navegador{

	width: 531px;

    height: 48px;

    margin-left: 400px;

    padding-top: 30px;

    float: left

}



#navegador ul{

	list-style-type:none;

	padding-left: 0px;

}



#navegador li{

	display:inline;

	text-align:center;

	font-weight: bold;

	width: 50px;

	height: 30px;

}



#navegador li a{

    padding: 15px 15px 15px 15px;

    color: orange;

    background-color: #333333;

    border: 1px solid orange;

    border-bottom: none;

    text-decoration: none;

}



#navegador a:hover {

	background-color:orange;

	color:#333333;

}



/* FICHA DE PROGRESO TECNICO */



#progreso_tecnico{

	width: 530px;

    height: 313px;

    margin-left: 400px;

    float: left

}



.ficha{

	background-color: #333333;

	width: 530px;

	height: 310px;

	border: 2px solid orange;

}



/* FICHA DE PROGRESO SOCIAL*/



#progreso_social{

    width: 530px;

    height: 313px;

    margin-left: 400px;

    margin-top: 88px;

}



.ficha_social{

	background-color: #333333;

	width: 530px;

	height: 310px;

	border: 2px solid orange;

}

